/* COLOR PLETTE 
    darkblue: rgb(1, 21, 50)
    purple: rgb(76, 2, 53)
    yellow: rgb(233, 244, 91)
    lightblue: rgb(108, 146, 186)
*/

/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* UTILITIES */
.container{
    margin: 0 auto;
    max-width: 512px;
}

/* REGOLE GENERALI */
html{
    font-family: 'space Grotesk', sans-serif;
    background-color: rgb(1, 21, 50);
    color: white;
}

/* HEADER */
header{
    background-color: rgb(76, 2, 53);
    color: rgb(233, 244, 91);
    text-align: center;
    padding: 32px;
}

header > h1{
    font-size: 32px;
}

header > p{
    font-size: 20px;
    margin-top: 10px;
}

/* GENRES */
.genres{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 10px;
}

.genre{
    height: 100px;
    width: 100px;
    border: 2px solid rgb(108, 146, 186);
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.genre:hover{
    background-color: rgb(108, 146, 186);
}

/* GAME STARTED */
.game-started h1{
    font-size: 16px;
}

.game-started header{
    padding: 16px;
}

.game-started header p,
.game-started .genres{
    display: none;
}

/* LOADER */
.loader{
    height: 512px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hidden{
    display: none;
}

/* GAMEOVER */
.gameover{
    text-align: center;
    padding: 32px;
}

.gameover-icon{
    font-size: 60px;
}

button{
    margin: 10px 0;
    padding: 16px;
    width: 100%;
    font-size: 20px;
    font-family: 'space Grotesk', sans-serif;
    border: 2px solid rgb(108, 146, 186);
    background-color: transparent;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: rgb(108, 146, 186);
}